{{ extend './home/home.html' }}

{{ block 'title' }}
找回密码
{{ /block }}

{{ block 'style' }}
<link rel="stylesheet" href="public/css/forget.css">
{{ /block }}


{{ block 'content' }}
<div class="box">
    <div class="main_content">
        <div class="tabs">
            <div class="about">找回密码流程：</div>
            <div class="tab_bar">
                <div class="l"><i>1&nbsp;</i>输入账号信息</div>
                <div class="r">&nbsp;></div>
                <div class="l"><i>2&nbsp;</i>修改新密码</div>
                <div class="r">&nbsp;></div>
                <div class="l"><i>3&nbsp;</i>找回密码</div>
                <div class="r">&nbsp;</div>
            </div>
            <div style="clear: both;"></div>
        </div>

        <form action="" class="form1">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="输入您的账号邮箱" name="email">
            </div>
            <div class="form-group code-from">
                <input type="text" class="form-control" placeholder="输入验证码" id="code" name="code">
                <button type="button" class="btn btn-success code-btn">发送验证码</button>
                <div>若没收到邮箱验证码，请检查邮箱是否填写正确</div>
            </div>
            <button type="submit" class="btn btn-info submit">提交</button>
        </form>

        <form action="" class="form2 hide">
            <div class="form-group">
                <label for="psd1">请输入新密码</label>
                <input type="password" class="form-control" id="psd1" placeholder="输入新密码" name="psd1">
            </div>

            <div class="form-group">
                <label for="psd2">再次输入新密码</label>
                <input type="password" class="form-control" id="psd2" placeholder="再次输入新密码" name="psd2">
            </div>

            <button type="submit" class="btn btn-info submit">提交</button>
        </form>

    </div>
</div>
{{ /block }}




{{ block 'script' }}

<script src="public/js/forget.js"></script>
{{ /block }}