{{ extend './home/home.html' }}

{{ block 'title' }}
首页
{{ /block }}

{{ block 'style' }}
<link rel="stylesheet" href="public/css/index.css">
{{ /block }}



{{ block 'content' }}

<div class="content-container">
    <div class="items">
        {{ if topics.length }}
        {{ each topics }}
        <div class="item">

            <div class="author each">
                <a href="#">{{ $value.author_name }}</a>
            </div>

            <div class="like each">
                <img src="/public/img/like.png" alt="">
                <span>{{ $value.like.length }}</span>
            </div>
            <div class="type each">
                <span>{{ $value.type }}</span>
            </div>

            <div class="title each">
                <span><a href="/topicdetail?id={{ $value.id }}" target="_blank">{{ $value.title }}</a></span>
            </div>
            <div class="pub-time each">
                <span>{{ $value.publish_time }}</span>
            </div>
        </div>
        {{ /each }}
        {{ else }}
        <div class="nomore"><span>没有更多数据</span></div>
        {{ /if }}
        <div class="pages">
            <div class="pagination">
                <ul>
                    <li class="tostart"><a href="/">首页</a></li>
                    <li class="pre"><a href="">&lt;</a></li>
                    <li class="page"><a href=""></a></li>
                    <li class="page"><a href=""></a></li>
                    <li class="page"><a href=""></a></li>
                    <li class="page"><a href=""></a></li>
                    <li class="page"><a href=""></a></li>
                    <li><a>...</a></li>
                    <li class="next"><a href="">&gt;</a></li>
                    <li class="toend"><a href="/?page={{ totalPage }}">尾页</a></li>
                </ul>
            </div>
            <div class="jumppage">
                <span>共&nbsp;{{ totalPage }}&nbsp;页</span>
                <span>到第</span>
                <input type="number" class="form-control" onkeyUp="">
                <span>页</span>
                <button class="btn btn-default">确定</button>
            </div>

        </div>

    </div>
</div>

{{ /block }}

{{ block 'script' }}
<script>

    $(function () {
        const $page = {{ page }}
        const $a_list = $('.pagination .page a')
        const $pre = $('.pre')
        const $next = $('.next')
        if($page <= 3) {

            for(let i=0; i<5; i++) {
                $a_list.eq(i).html(i+1).prop({'href': '/?page=' + (i+1)})
                if(i+1 === $page) {
                    $a_list.eq(i).parent().addClass('active')
                }
            }

        }
        else {

            $a_list.eq(0).html($page-2).prop({'href': '/?page=' + ($page - 2)})
            $a_list.eq(1).html($page-1).prop({'href': '/?page=' + ($page - 1)})
            $a_list.eq(2).html($page).prop({'href': '/?page=' + $page}).parent().addClass('active')
            $a_list.eq(3).html($page+1).prop({'href': '/?page=' + ($page + 1)})
            $a_list.eq(4).html($page+2).prop({'href': '/?page=' + ($page + 2)})
        }
        $pre.children().prop({'href': '/?page=' + ($page - 1)})
        $next.children().prop({'href': '/?page=' + ($page + 1)})

        const $items = $('.items .item')
        const $active = $('.pagination .active')
        if($items.length < 18) {
            $active.nextAll().css({'pointerEvents': 'none', 'opacity': '.7'})
        }
        if($page === 1) {
            $a_list.eq(0).parent().prev().css({'pointerEvents': 'none', 'opacity': '.7'})
        }

        const $jump_input = $('.jumppage input')
        let jumpNumber = 0
        $jump_input[0].onkeyup = function () {
            if(this.value > {{ totalPage }} ) {
                this.value = {{ totalPage }}
            }
            jumpNumber = this.value
        }

        const $jump_btn = $('.jumppage button')
        $jump_btn.click(function () {
            window.location.href = '/?page=' + jumpNumber
        })


    })

</script>

{{ /block }}



