<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/login.css">

</head>
<body>
    <div class="login-box">

        <div class="title">
            <span>用户登录</span>
        </div>

        <div class="login">
            <form id="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">邮箱</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="psd">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox">  记住我
                    </label>
                    <a class="forget" href="/forget">忘记密码？</a>
                </div>

                <button type="submit" class="btn btn-success">登录</button>
            </form>
        </div>

        <div class="register">
            <span>还没有账号?</span>
            <a href="/register">点击注册</a>
            <a href="/" class="gotohome">首页</a>
        </div>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="public/js/login.js"></script>
</body>
</html>