{{ extend './home/home.html' }}

{{ block 'title' }}
个人中心
{{ /block }}


{{ block 'style' }}

<link rel="stylesheet" href="/public/css/personal.css">

{{ /block }}


{{ block 'content' }}
<div class="personal-box">

    <div class="box-l">
        <img src="{{ user.head }}" alt="" class="head">
        <div class="user-name"><span>{{ user.name }}</span></div>
        <div class="user-email">
            <img src="/public/img/email.png" alt="">
            <span>{{ user.email }}</span>
        </div>
        <a href="" class="btn btn-info edit-personal-info">编辑信息</a>
    </div>

    <div class="box-r">

        <div class="top-bar">
            <span class="info active">个人信息</span>
            <span class="topic">我的话题</span>
            <span class="start">我的关注</span>
            <span class="collection">我的收藏</span>
            <span class="msg">消息</span>
            {{ block 'privilege' }} {{ /block }}
        </div>

        <div class="content">
            <div class="info-content">
                <div>
                    <span>昵称：&nbsp;&nbsp;</span>
                    <span class="no-edit name-span">{{ user.name }}</span>
                    <input type="text" class="form-control in-edit" id="name">
                    <span class="in-edit" style="color: red; font-weight: 600; font-size: 14px">注意：</span>
                    <span class="in-edit remind-text">昵称不要轻易更改，更改后，无法查询到发表过的文章和评论</span>
                </div>
                <div>
                    <span>i&nbsp;d：&nbsp;&nbsp;</span>
                    <span>{{ user._id }}</span>
                </div>
                <div>
                    <span>邮箱：&nbsp;&nbsp;</span>
                    <span>{{ user.email }}</span>
                </div>
                <div>
                    <span>性别：&nbsp;&nbsp;</span>
                    <span class="gender-span no-edit">{{ user.gender }}</span>
                    <select name="gender" id="gender" class="form-control in-edit">
                        <option value="-1">保密</option>
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </div>
                <div class="intro-box">
                    <span>简介：&nbsp;&nbsp;</span>
                    <span class="intro-span no-edit">{{ user.introduce }}</span>
                    <textarea name="" id="introduce"  class="in-edit form-control"></textarea>
                </div>
                <div>
                    <span>注册时间：&nbsp;&nbsp;</span>
                    <span>{{ user.register_time }}</span>
                </div>
                <div>
                    <span>最后一次修改信息时间：&nbsp;&nbsp;</span>
                    <span class="modify-time-span">{{ user.last_modifyTime }}</span>
                </div>
                <button class="edit-btn btn btn-primary in-edit">提交修改</button>
            </div>


            <div class="topic-content">
                <ul>
                    <div class="no-any-my-topic">您暂未发表过任何话题文章，快去发表吧</div>
                    <li>
                        <input type="hidden" value>
                        <div class="topic-content-title">
                            <span class="topic-content-type"></span>
                            <span class="topic-content-title-title"></span>
                        </div>
                        <div class="topic-content-content">
                        </div>
                        <div class="topic-content-infos">
                            <div class="topic-content-infos-pubTime">2020-02-16 21:21:21</div>
                            <div class="topic-content-infos-comments-count">
                                <img class="comments-logo" src="public/img/commentCountLogo.png">
                                <div class="comments-count"></div>
                            </div>
                            <div class="topic-content-infos-del-btn">删除</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="start-content"></div>

            <div class="collection-content">
                <div class="dir">
                    <span class="my-dir">我创建的收藏夹</span>
                    <span class="new-dir">+&nbsp;新建收藏夹</span>
                </div>
                <div class="dir-list">
                    <ul>
                        {{ each collections }}
                        <li class="dir-li-list">
                            <div class="dir-name"><span>{{ $value.dir_name }}</span></div>
                            <div class="content-count"><span>{{ $value.topics_list.length }}条内容</span></div>
                            <div class="in-dir"><img src="/public/img/rightJT.png" alt=""></div>
                        </li>
                        {{ /each }}
                    </ul>
                </div>

                <div class="detail-dir">
                    <input type="hidden">
                    <div class="back-to-dirlist">
                        <div>
                            <img src="/public/img/leftJT.png" alt="">
                            <span>返回我的收藏夹列表</span>
                        </div>
                    </div>
                    <div class="dir-info">
                        <div class="info-name"><span></span></div>
                        <div class="info-items">
                            <span class="items-count"></span>
                            <span>|</span>
                            <span class="ed">编辑</span>
                            <span>|</span>
                            <span class="del">删除</span>
                            <span>|</span>
                            <span class="manage">内容管理</span>
                        </div>
                    </div>
                    <div class="dir-items-list">
                        <ul>
                            <li class="dir-items-each-li">
                                <div class="items-title-box">
                                    <span class="topic-type"></span>
                                    <span class="topic-title-name"><a href=""></a></span>
                                    <span class="no-collect">取消收藏</span>
                                </div>

                                <div class="topic-intro">
                                    <span class="easy-intro">简介:</span>
                                    <span class="main-intro"></span>
                                </div>

                                <div class="topic-info">
                                    <span class="topic-info-author"></span>
                                    <span>|</span>
                                    <span class="topic-info-pubtime"></span>
                                </div>
                                <input type="hidden" value="">

                            </li>

                            <div class="no-any-topic"><span>暂时没有收藏任何话题</span></div>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="msg-content"></div>

            {{ block 'pri-content' }} {{ /block }}

        </div>

    </div>
</div>
<div class="new-dir-alert">
    <div class="box">
        <div class="new-dir-alert-title">新建收藏文件夹</div>

        <div class="new-dir-alert-content">
            <div class="form-group">
                <label for="dir_name">文件夹名称</label>
                <input type="text" class="form-control" id="dir_name" placeholder="输入新建文件夹名称">
            </div>
        </div>

        <div class="new-dir-alert-btn">
            <span class="no">取消</span>
            <span class="sure">确认</span>
        </div>
    </div>
    <div class="bg"></div>
</div>
<div class="has-del-dir">
    <div class="box">
        <div class="has-del-dir-title">删除文件夹</div>
        <div class="has-del-dir-content">
            <div class="info">
                <span>提醒：</span>
                <span>删除该文件夹后，文件夹内收藏的话题文章也将一并删除（删除操作不可恢复！）</span>
            </div>
            <div class="remind"><span>是否确认删除</span></div>
        </div>
        <div class="has-del-dir-btn">
            <span class="no">取消</span>
            <span class="sure">确认</span>
        </div>
    </div>
    <div class="bg"></div>
</div>
<div class="del-my-topic-alert">
    <div class="box">
        <div class="del-my-topic-alert-title">删除话题</div>
        <div class="del-my-topic-alert-content">
            <div class="info">
                <span>提醒：</span>
                <span>删除该话题后，话题内的评论也将被一并删除（删除操作不可恢复！）</span>
            </div>
            <div class="remind"><span>是否确认删除</span></div>
        </div>
        <div class="del-my-topic-alert-btn">
            <span class="no">取消</span>
            <span class="sure">确认</span>
        </div>
    </div>
    <div class="bg"></div>
</div>
{{ /block }}

{{ block 'script' }}

<script src="/public/js/personal.js"></script>


{{ /block }}


