{{ extend './home/home.html' }}

{{ block 'title' }}
个人中心
{{ /block }}


{{ block 'style' }}

<link rel="stylesheet" href="/public/css/personal.css">

{{ /block }}


{{ block 'content' }}
<div class="personal-box">

    <div class="box-l">
        <img src="{{ user.head }}" alt="" class="head">
        <div class="user-name"><span>{{ user.name }}</span></div>
        <div class="user-email">
            <img src="/public/img/email.png" alt="">
            <span>{{ user.email }}</span>
        </div>
        <a href="#" class="btn btn-info">编辑信息</a>
    </div>

    <div class="box-r">

        <div class="top-bar">
            <span class="info active">个人信息</span>
            <span class="topic">我的话题</span>
            <span class="start">我的关注</span>
            <span class="collection">我的收藏</span>
            <span class="msg">消息</span>
            {{ block 'privilege' }} {{ /block }}
        </div>

        <div class="content">
            <div class="info-content">
                <div><span>昵称：&nbsp;&nbsp;</span><span>{{ user.name }}</span></div>
                <div><span>i&nbsp;d：&nbsp;&nbsp;</span><span>{{ user._id }}</span></div>
                <div><span>邮箱：&nbsp;&nbsp;</span><span>{{ user.email }}</span></div>
                <div><span>性别：&nbsp;&nbsp;</span><span class="gender-span">{{ user.gender }}</span></div>
                <div><span>简介：&nbsp;&nbsp;</span><span class="intro-span">{{ user.introduce }}</span></div>
                <div><span>注册时间：&nbsp;&nbsp;</span><span>{{ user.register_time }}</span></div>
                <div><span>最后一次修改信息时间：&nbsp;&nbsp;</span><span>{{ user.last_modifyTime }}</span></div>
            </div>


            <div class="topic-content"></div>

            <div class="start-content"></div>

            <div class="collection-content">
                <div class="dir">
                    <span class="my-dir">我创建的收藏夹</span>
                    <span class="new-dir">+&nbsp;新建收藏夹</span>
                </div>
                <div class="dir-list">
                    <ul>
                        {{ each collections }}
                        <li>
                            <div class="dir-name"><span>{{ $value.dir_name }}</span></div>
                            <div class="content-count"><span>{{ $value.topics_list.length }}条内容</span></div>
                            <div class="in-dir"><img src="/public/img/rightJT.png" alt=""></div>
                        </li>
                        {{ /each }}
                    </ul>
                </div>

                <div class="detail-dir">
                    <div class="back-to-dirlist">
                        <div>
                            <img src="/public/img/leftJT.png" alt="">
                            <span>返回我的收藏夹列表</span>
                        </div>
                    </div>
                    <div class="dir-info">
                        <div class="info-name"><span></span></div>
                        <div class="info-items">
                            <span class="items-count"></span>
                            <span>|</span>
                            <span class="ed">编辑</span>
                            <span>|</span>
                            <span class="del">删除</span>
                            <span>|</span>
                            <span class="manage">内容管理</span>
                        </div>
                    </div>
                    <div class="dir-items-list">
                        <ul>
                            <li class="dir-items-each-li">
                                <div class="items-title-box">
                                    <span class="topic-type"></span>
                                    <span class="topic-title-name"><a href=""></a></span>
                                    <span class="no-collect">取消收藏</span>
                                </div>

                                <div class="topic-intro">
                                    <span class="easy-intro">简介:</span>
                                    <span class="main-intro"></span>
                                </div>

                                <div class="topic-info">
                                    <span class="topic-info-author">Lpyexolore</span>
                                    <span>|</span>
                                    <span class="topic-info-pubtime">2020-11-03 21:21:36</span>
                                </div>
                                <input type="hidden" value="">

                            </li>

                            <div class="no-any-topic"><span>暂时没有收藏任何话题</span></div>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="msg-content"></div>

            {{ block 'pri-content' }} {{ /block }}

        </div>

    </div>
</div>
{{ /block }}

{{ block 'script' }}

<script src="/public/js/personal.js"></script>


{{ /block }}


