{{ extend './home/home.html' }}

{{ block 'title' }}
话题详情
{{ /block }}

{{ block 'style' }}
<link rel="stylesheet" href="public/css/topicDetail.css">
{{ /block }}

{{ block 'content' }}
<div class="content-container">

    <div class="content-l">
        <div class="top-title">
            <div class="title">
                <span>{{ topics.type }}</span>
                <span>{{ topics.title }}</span>
            </div>
            <div class="topicInfo">
                <span class="pubTime">发布于{{ topics.publish_time }}</span>
                <span class="author">作者&nbsp;{{ topics.author_name }}</span>
                <span class="start">点赞数&nbsp;{{ topics.like.length }}</span>

                <a class="collection btn" href="">收藏</a>

                <a href="" class="hasCollect btn">已收藏</a>

            </div>
        </div>

        <div class="content">
            <span>{{ topics.content }}</span>
        </div>


        <div class="comments">
            <div class="comments-top">
                <span>{{ comments.length }}&nbsp;回复</span>
            </div>
            <ul class="comments-list">
                {{ if comments.length }}
                {{ each comments }}
                <li>
                    <div class="commentPerson">
                        <span>{{ $value.name }}</span>
                        {{ if $value.isAuthor }}
                        <span class="isauthor">作者</span>
                        {{ /if }}
                        <span>{{ $index + 1}}楼</span>
                        <span>发表评论：</span>
                        <span class="comment-pubTime">{{ $value.publish_time }}</span>
                    </div>

                    <div class="commentContent">
                        <span>{{ $value.content }}</span>
                    </div>
                </li>
                {{ /each }}
                {{ else }}
                <div class="no-comment">暂时没有人评论</div>
                {{ /if }}

            </ul>

        </div>

        <div class="addComment">
            <div class="add-top">
                <span>添加回复</span>
            </div>
            <form action="">
                <input type="hidden" name="id" value="{{ topics.id }}" id="id">
                <div class="form-group textarea">
                    <textarea name="content" id="content" placeholder="在此输入评论内容" ></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary submit">提交</button>
                </div>
            </form>
        </div>

    </div>

    <div class="content-r"></div>

</div>
<div class="select-dirType">

    <div class="box">

        <div class="TX">
            <div class="add-collection">
                <span class="addTo">添加收藏</span>
                <span class="close">x</span>
            </div>
            <div class="moretx">
                <span>请选择你想添加的收藏夹</span>
            </div>
        </div>

        <div class="my-dir-list">
            <ul>
                {{ if user }}
                {{ each user.collections }}
                <li>
                    <span class="dir-name">{{ $value.dir_name }}</span>
                    <span class="content-count">{{ $value.topics_list.length }}条内容</span>
                    <span class="add-into">收藏</span>
                </li>
                {{ /each }}
                {{ else }}
                <div class="no-login">请先登录账号</div>
                {{ /if }}

            </ul>
        </div>

        <div class="creat-new-dir">
            <button type="button" class="btn btn-danger creatDir-btn">+&nbsp;新建文件夹</button>
        </div>

    </div>

    <div class="bg"></div>
</div>
{{ /block }}

{{ block 'script' }}

<script>

    $(function () {
        //提交评论按钮
        const $submit = $('.submit')
        //文章Id
        const $id = $('#id')[0].value
        //文章作者的名字
        const $name = '{{ topics.author_name }}'
        //处理发送评论提交
        $submit.click(function (e) {
            e.preventDefault()
            const $content = $('#content')[0].value
            if (!$content) {
                window.alert('请输入评论信息')
            }
            else {
                let $formdata = 'id=' + $id + '&content=' +$content + '&name=' + $name
                $.ajax({
                    url: '/subComments',
                    type: 'post',
                    dataType: 'json',
                    data: $formdata,
                    success: function (data) {
                        if(data.status === 500) {
                            window.alert('服务器繁忙，请稍后重试')
                        }
                        else if(data.status === 0) {
                            window.alert('请先登录账号')
                        }
                        else if(data.status === 1) {
                            window.alert('评论发表成功')
                            window.location.href = '/topicdetail' + '?id=' + $id
                        }
                    }
                })
            }

        })

        const $dir_alert = $('.select-dirType')
        $dir_alert.hide()
        const $collect_btn = $('.collection')
        const $has_collect_btn =$('.hasCollect')
        const $close_dir_alert = $('.select-dirType .close')
        const $dir_alert_bg = $('.select-dirType .bg')
        //处理点击收藏后弹出的提示框的关闭功能
        $collect_btn.click(function (e) {
            e.preventDefault()
            $dir_alert.show()
        })
        $close_dir_alert.click(function () {
            $dir_alert.hide()
        })
        $dir_alert_bg.click(function () {
            $dir_alert.hide()
        })
        //判断该用户是否收藏过该文章，是显示收藏按钮还是取消收藏按钮
        if( {{ !user }} ) {
            $has_collect_btn.hide()
        }
        {{ if user }}
    else if( {{ topics.collector.indexOf(user.name) === -1 }} ) {
            $has_collect_btn.hide()
        }
        {{ /if }}
        else {
                $collect_btn.hide()
            }

            const $true_collect_btn = $('.my-dir-list .add-into')
            //处理收藏文章点击事件
            $true_collect_btn.click(function (e) {
                e.preventDefault()
                const $formdata = 'id=' + $id + '&whichDir=' + $(this).prev().prev().html()
                $.ajax({
                    url: '/collect',
                    type: 'get',
                    dataType: 'json',
                    data: $formdata,
                    success: function (data) {
                        if(data.status === 500) {
                            return window.alert('服务器繁忙，请稍后重试')
                        }
                        else if(data.status === 0) {
                            return window.alert('收藏失败')
                        }
                        else if(data.status === 1) {
                            window.alert('收藏成功')
                            $collect_btn.hide()
                            $has_collect_btn.show()
                            $dir_alert.hide()
                        }
                    }
                })
            })

            //处理取消收藏文章点击事件
            $has_collect_btn.click(function (e) {
                e.preventDefault()
                const $formdata = 'id=' + $id
                $.ajax({
                    url: '/removeCollection',
                    type: 'get',
                    dataType: 'json',
                    data: $formdata,
                    success: function (data) {
                        if(data.status === 500) {
                            return window.alert('服务器繁忙，请稍后重试')
                        }
                        else if(data.status === 0) {
                            return window.alert('取消收藏失败')
                        }
                        else if(data.status === -1) {
                            return window.alert('请先登录账号')
                        }
                        else if(data.status === 1) {
                            window.alert('取消收藏成功')
                            $collect_btn.show()
                            $has_collect_btn.hide()
                        }
                    }
                })
            })


        })

</script>
{{ /block }}