
body{
    background: #fff;
}
.box{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}
.main_content{
    height: 100%;
    width: 40%;
    padding-top: 50px;
    overflow: hidden;
}
.about{
    font-size: 20px;
    padding-bottom: 6px;
    font-weight: normal;
}
.tab_bar{
    margin: 16px 0 30px -10px;
    height: 35px;
    line-height: 35px;
    background: #e1e1e1;
    color: #242424;
    overflow: hidden;
}
.tab_bar div{
    float: left;
}
.tab_bar .l{
    padding: 0 6px 0 30px;
}
.tab_bar .r{
    width: 19px;
    height: 35px;
    margin-right: -19px;
    position: relative;
    z-index: 2;
}
.code-from{
    height: 64px;
}
.code-from .form-control{
    width: 55%;
    float: left;
}
.code-from .code-btn{
    width: 40%;
    float: right;
}
.form-group div{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #cacaca;
    float: left;
}
.form-group{
    width: 70%;
    margin: 0 auto 40px;
}
.tabs{
    margin-bottom: 30px;
}
.submit{
    width: 70%;
    margin: 0 auto;
    display: block;
}
.hide{
    display: none;
}
