body{
    background: #fff;
}
.personal-box{
    width: 1350px;
    background: #fff;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20px);
    min-height: 800px;


}
.box-l{
    display: inline-block;
    height: 100%;
    width: 270px;
    float: left;
}
.box-r{
    display: inline-block;
    width: 1030px;
    float: right;
}
.box-l .head{
    width: 100%;
}
.box-l .user-name{
    width: 100%;
    height: 85px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.box-l .user-email{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    color: #666;
    margin-bottom: 20px;
}
.box-l .user-email img{
    height: 17px;
    width: 17px;
    margin-right: 5px;
}
.box-l .btn{
    width: 100%;
}
.top-bar{
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e1e1e1;
}
.top-bar span{
    float: left;
    display: inline-block;
    height: 100%;
    line-height: 54px;
    color: #586069;
    padding: 0 10px;
    cursor: pointer;
    margin-right: 40px;
}
.top-bar span:hover{
    border-bottom: 2px solid orangered;
}
.top-bar .active{
    border-bottom: 2px solid orangered;
}
.content{
    width: 100%;
    display: inline-block;
}
.info-content{
    width: 100%;
    display: inline-block;
}
.info-content div{
    height: 30px;
    padding: 30px 0;
    font-size: 17px;
}
.info-content #name{
    display: inline-block;
    width: 50%;
}
.info-content #gender{
    display: inline-block;
    width: 15%;
}
.info-content .intro-box{
    display: inline-block;
    width: 100%;
}
.info-content #introduce{
    display: inline-block;
    width: 50%;
    height: 200px;
    resize: none;
}
.info-content .edit-btn{
    width: 200px;
    margin: 20px auto;
}
.collection-content{
    width: 100%;
    display: inline-block;
}
.collection-content .dir{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #e1e1e1;
}
.collection-content .dir .my-dir{
    display: inline-block;
    height: 90px;
    line-height: 90px;
    font-size: 16px;
    color: #3d3d3d;
    font-weight: 700;
    border-bottom: 4px solid #ca0c16;
}
.collection-content .dir .new-dir{
    display: inline-block;
    height: 90px;
    line-height: 90px;
    float: right;
    font-size: 16px;
    color: #6b6b6b;
    cursor: pointer;
}
.collection-content .dir-list{
    width: 100%;
    display: inline-block;
}
.dir-list ul{
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.dir-list ul li{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #e1e1e1;
    position: relative;

}
.dir-name, .content-count{
    width: 100%;
    height: 50%;
}
.dir-name{
    font-size: 16px;
    color: #3d3d3d;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.content-count{
    font-size: 14px;
    color: #999;
    display: flex;
    align-items: center;
}
.in-dir{
    position: absolute;
    height: 100%;
    right: 10px;
    display: flex;
    align-items: center;
    transform: translate(0, -100%);
}
.in-dir img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.detail-dir{
    width: 100%;
    display: inline-block;
}
.back-to-dirlist{
    width: 100%;
    height: 84px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
}
.back-to-dirlist div{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.back-to-dirlist img{
    height: 16px;
    width: 16px;
}
.back-to-dirlist span{
    font-size: 16px;
    color: 3d3d3d;
    font-weight: 700;
    margin-left: 10px;
}
.dir-info{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e1e1e1;
}
.info-name{
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
}
.info-name span{
    color: #4d4d4d;
}
.info-items{
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
}
.info-items span{
    color: #999;
    padding: 0 8px;
}
.info-items .ed, .info-items .del, .info-items .manage{
    color: #6b6b6b;
    cursor: pointer;
}
.dir-items-list, .dir-items-list ul{
    width: 100%;
    display: inline-block;
}
.dir-items-list ul{
    padding: 20px 0 0 0;
    list-style: none;
    margin: 0;

}
.dir-items-list ul li{
    margin-bottom: 10px;
    background: #fafafa;
    width: 100%;
    min-height: 104px;
    padding: 15px;
}
.items-title-box, .topic-info{
    width: 100%;
    height: 20%;
}
.topic-intro{
    width: 100%;
    height: 60%;
    margin-bottom: 10px;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;

}
.items-title-box{
    margin-bottom: 10px;
}
.topic-type{
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    background: #80bd01;
    border-radius: 3px;
    padding: 1px 2px;
}
.topic-title-name{
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
    cursor: pointer;
}
.topic-title-name a{
    color: #4d4d4d;
    display: inline-block;
}
.no-collect{
    font-size: 14px;
    color: #6b6b6b;
    float: right;
    cursor: pointer;
}
.topic-intro span{
    color: #999;
    font-size: 14px;
}
.topic-info span{
    font-size: 14px;
    margin-right: 10px;
}
.topic-info-author{
    color: #6b6b6b;
}
.topic-info-pubtime{
    color: #999;
}
.no-any-topic{
    width: 100%;
    font-size: 30px;
    color: #999;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.new-dir-alert{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.new-dir-alert .bg{
    background: #000;
    opacity: .2;
    width: 100%;
    height: 100%;
}
.new-dir-alert .box{
    width: 400px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 10;
    border-radius: 5px;
}
.new-dir-alert-title{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #e0e0e0;
    color: #000;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.new-dir-alert-btn{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.new-dir-alert-content{
    width: 100%;
    height: 60%;
}

.new-dir-alert-btn .no{
    font-size: 14px;
    color: #4d4d4d;
    margin-left: 20px;
    font-weight: 600;
    cursor: pointer;
}
.new-dir-alert-btn .sure{
    font-size: 14px;
    color: #ca0c16;
    margin-right: 15px;
    margin-left: 20px;
    font-weight: 600;
    cursor: pointer;

}
.new-dir-alert-content .form-group{
    height: 100%;
    padding: 20px 20px;
}

.has-del-dir{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.has-del-dir .box{
    width: 400px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background: #fff;
    z-index: 10;
    border-radius: 5px;
}

.has-del-dir .bg{
    background: #000;
    opacity: .2;
    width: 100%;
    height: 100%;
}

.has-del-dir-title{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #e0e0e0;
    color: #000;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.has-del-dir-content{
    width: 100%;
    height: 65%;
    padding: 20px 15px;
}

.has-del-dir-content div{
    width: 100%;
    display: flex;
    height: 50%;

}
.has-del-dir-content .info span:nth-child(1){
    display: inline-block;
    width: 15%;
    color: red;
}
.has-del-dir-content .info span:nth-child(2){
    display: inline-block;
    width: 85%;
}
.has-del-dir-content .remind{
    color: red;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.has-del-dir-btn{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
}

.has-del-dir-btn .no{
    font-size: 14px;
    color: #4d4d4d;
    margin-left: 20px;
    font-weight: 600;
    cursor: pointer;
}
.has-del-dir-btn .sure{
    font-size: 14px;
    color: #ca0c16;
    margin-right: 15px;
    margin-left: 20px;
    font-weight: 600;
    cursor: pointer;

}


.del-my-topic-alert{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.del-my-topic-alert .box{
    width: 400px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background: #fff;
    z-index: 10;
    border-radius: 5px;
}

.del-my-topic-alert .bg{
    background: #000;
    opacity: .2;
    width: 100%;
    height: 100%;
}

.del-my-topic-alert-title{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #e0e0e0;
    color: #000;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.del-my-topic-alert-content{
    width: 100%;
    height: 65%;
    padding: 20px 15px;
}

.del-my-topic-alert-content div{
    width: 100%;
    display: flex;
    height: 50%;

}
.del-my-topic-alert-content .info span:nth-child(1){
    display: inline-block;
    width: 15%;
    color: red;
}
.del-my-topic-alert-content .info span:nth-child(2){
    display: inline-block;
    width: 85%;
}
.del-my-topic-alert-content .remind{
    color: red;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.del-my-topic-alert-btn{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
}

.del-my-topic-alert .no{
    font-size: 14px;
    color: #4d4d4d;
    margin-left: 20px;
    font-weight: 600;
    cursor: pointer;
}
.del-my-topic-alert .sure{
    font-size: 14px;
    color: #ca0c16;
    margin-right: 15px;
    margin-left: 20px;
    font-weight: 600;
    cursor: pointer;

}



.topic-content{
    display: inline-block;
    min-height: 900px;
    width: 100%;
}
.topic-content ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
}
.topic-content ul li{
    width: 100%;
    height: 125px;
    border-bottom: 1px solid #f0f2f5;
    padding: 16px 24px 12px 24px;
    display: none;
}
.topic-content ul li:hover{
    background: rgb(249, 250, 252);
}
.topic-content ul li:hover .topic-content-title-title{
    color: #5094d5;
}
.topic-content ul li:hover .topic-content-infos-del-btn{
    display: inline-block;
}
.topic-content .topic-content-title{
    width: 100%;
    display: inline-block;
}
.topic-content-infos{
    position: relative;
}
.topic-content .topic-content-title .topic-content-type{
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    background: #80bd01;
    border-radius: 3px;
    padding: 2px 3px;
}
.topic-content .topic-content-title .topic-content-title-title{
    font-size: 18px;
    font-weight: 500;
    color: #222226;
    margin-left: 5px;
}
.topic-content .topic-content-content{
    display: inline-block;
    width: 100%;
    min-height: 34px;
    max-height: 48px;
    padding: 10px 0;
    color: #999aaa;
    font-size: 14px;
}
.topic-content-title, .topic-content-content{
    cursor: pointer;
}
.topic-content-infos-pubTime, .topic-content-infos-comments-count, .topic-content-infos-del-btn{
    display: inline-block;
}
.topic-content-infos-pubTime{
    color: #5f6471;
    font-size: 15px;
    margin-right: 20px;
}
.topic-content-infos-comments-count .comments-logo, .topic-content-infos-comments-count .comments-count{
    display: inline-block;
}
.topic-content-infos-comments-count .comments-logo{
    height: 15px;
    width: 15px;
}
.topic-content-infos-comments-count .comments-count {
    color: #5f6471;
}
.topic-content-infos-del-btn{
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #e33e33;
    font-size: 15px;
    display: none;
}
.topic-content .no-any-my-topic{
    display: none;
    width: 100%;
    font-size: 30px;
    margin: 50px 0;
    text-align: center;
    color: #b1b1b1;
}