
.content-container{
    width: 1350px;
    margin: 17px auto;
    height: 100vh;
    border-radius: 10px;
}
.content-container .content-l{
    width: 73.5%;
    height: 100%;
    background: #fff;
    float: left;
    border-radius: 7px;
}
.content-container .content-r{
    width: 25%;
    height: 100%;
    background: #fff;
    float: right;
    border-radius: 7px;
}
.content-l .top-bar{
    width: 100%;
    height: 7%;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    border-radius: 7px;
}
.content-l .top-bar span{
    margin-left: 10px;
}
.content-l .top-bar span:nth-child(1) a{
    color: #80bd01;
}
.content-l .top-bar span:nth-child(2){
    font-size: 18px;
    color: #999999;
}
.content-l .top-bar span:nth-child(3){
    color: #999999;
}
form{
    height: 100%;
}
form .select-type{
    width: 100%;
    height: 34px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.select-type label{
    float: left;
}
.select-type select{
    width: 20%;
    margin-left: 20px;
}
.form-group{
    padding: 5px 15px;
}
.textarea{
    height: 65%;
}
textarea{
    width: 100%;
    height: 100%;
    resize: none;
}
