
.content-container{
    width: 1350px;
    margin: 17px auto;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.content-container .content-l{
    width: 73.5%;
    display: inline-block;
    float: left;
    border-radius: 7px;
}
.content-container .content-r{
    width: 25%;
    height: 900px;
    background: #fff;
    float: right;
    border-radius: 7px;
}
.top-title{
    width: 100%;
    border-bottom: 1px solid #eee;
    background: #fff;

}
.top-title .title{
    display: inline-block;
    font-size: 22px;
    margin: 10px;
    font-weight: 600;
}
.top-title .title span:nth-child(1){
    font-size: 12px;
    color: #fff;
    background: #80bd01;
    padding: 2px 4px;
    border-radius: 3px;
}
.top-title .topicInfo{
    font-size: 13px;
    height: 45px;

}
.top-title .topicInfo span{
    color: #838383;
    margin-left: 10px;

}
.top-title .topicInfo .collection{
    float: right;
    color: #fff;
    background: #80bd01;
    margin-right: 10px;
}
.top-title .topicInfo .hasCollect{
    float: right;
    color: #999;
    background: #eee;
    margin-right: 10px;
}

.content{
    padding: 30px 20px;
    background: #fff;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.content span{
    width: 100%;
    word-wrap:break-word;
    word-break:break-all;
    font-size: 18px;
    letter-spacing:4px;
}
.comments{
    background: #fff;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.comments .comments-top{
    height: 40px;
    width: 100%;
    background: #f6f6f6;
    display: flex;
    align-items: center;
}
.comments .comments-top span{
    display: inline-block;
    color: #444;
    margin-left: 8px;
}
ul,li{
    padding:0; margin:0;
}
.comments-list{
    width: 100%;

    list-style: none;
}
.comments-list li{
    width: 100%;
    padding: 8px 16px;
    display: inline-block;
    border-bottom: 1px solid #e1e1e1;
}
.comments-list li .commentPerson{
    width: 100%;
    height: 20px;
}
.comments-list li .commentPerson span{
    color: #666;
    margin-left: 10px;
}
.comments-list li .commentPerson .comment-pubTime{
    float: right;
}
.comments-list li .commentContent{
    width: 100%;
    display: inline-block;
    padding: 10px 30px;
}
.no-comment{
    width: 100%;
    padding: 10px;
}
.isauthor{
    font-size: 12px;
    color: #fff !important;
    background: #80bd01;
    padding: 2px 4px;
    border-radius: 3px;
}
.commentContent span{
    width: 100%;
    letter-spacing: 1px;
    display: inline-block;
    text-indent: 28px;
}
.addComment{
    background: #fff;
    display: inline-block;
    width: 100%;
}
.addComment .add-top{
    height: 40px;
    width: 100%;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
}
.addComment .add-top span{
    display: inline-block;
    color: #444;
    margin-left: 8px;
}
textarea{
    width: 100%;
    height: 200px;
    resize: none;
    border: 0;
    outline: 0;
    padding: 0 12px;
}
.submit{
    margin-left: 20px;
}
.select-dirType{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.select-dirType .bg{
    background: #000;
    opacity: .2;
    width: 100%;
    height: 100%;
}
.select-dirType .box{
    width: 400px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 10;
    border-radius: 10px;
}
.select-dirType .box .TX{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #e0e0e0;
}
.select-dirType .box .my-dir-list{
    width: 100%;
    height: 60%;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    overflow: auto;
}
.my-dir-list ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.my-dir-list ul li{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    position: relative;
}
.my-dir-list li .dir-name{
    font-size: 14px;
    color: #4d4d4d;
}
.my-dir-list li .content-count{
    font-size: 12px;
    color: #999aaa;
    margin-left: 10px;
}
.my-dir-list li .add-into{
    display: inline-block;
    font-size: 14px;
    color: #e33e33;
    position: absolute;
    right: 10px;
    border: 1px solid #e33e33;
    padding: 4px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.select-dirType .box .creat-new-dir{
    width: 100%;
    height: 20%;
}
.box .creat-new-dir{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-collection{
    width: 100%;
    height: 60%;
    text-align: center;
    position: relative;
}
.add-collection .addTo{
    font-size: 16px;
    color: #3d3d3d;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-collection .close{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}
.moretx{
    width: 100%;
    height: 40%;
}
.moretx span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #999aaa;
}
.my-dir-list ul .no-login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
